# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env

# Model files (IMPORTANT)
*.pkl

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/